<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="page-wrapper">
    <div class="card">

        <h2 class="center">Registro</h2>
        <form method="post" th:action="@{/register}" class="form-column">
            <label>Nombre:
                <input type="text" name="name">
            </label>
            <label>Usuario:
                <input type="text" name="user">
            </label>
            <label>Contraseña:
                <input type="password" name="password">
            </label>
            <div class="actions center">
                <input type="submit" value="Registrarse">
            </div>
        </form>

        <span th:if="${message}">
            <p th:text="${message}"></p>
        </span>
    </div>
</div>
</body>
</html>